
.warning {
    color: darkred;
}

.info{
    display: block;
    margin-top: -22px;
    font-size: 14px;
    color: darkred;
}

.info a {
    color: darkred;
    text-decoration: underline;
}

.caption_highlight {
    padding: 30px 20px 12px 20px;
}