
.warning {
    color: darkred;
}

.info {
    display: block;
    margin-top: -22px;
    font-size: 14px;
    color: darkred;
}

.info a {
    color: darkred;
    text-decoration: underline;
}

.caption_highlight {
    padding: 30px 20px 12px 20px;
}

.group-highlight {
    height: 100px;
    font-weight: bold;
}

.import {
    margin: -20px auto 30px auto;
    width: 20%;
    min-width: 200px;
    border-radius: 1px;
}

.import_button {
    background-color: #9DB3A4;
    border-radius: 14px;
    border: 2px solid #996868;
}

.import_button a {
    color: #000;
}

.info__container {
    background-color: #fff;
    border-radius: 6px;
    padding: 30px;
}

.b-link {
    color: #996868;
    text-decoration: underline;
}

.b-link a {
    text-decoration: underline;
}

.hero {
    background-color: #4E7A74;
    color: #CAE5D2;
}


/*Project 8*/
* {box-sizing: border-box;}

.search-area {
    display: block;
    margin: 0 auto;
    width: 580px;
    padding: 0;
}

.search-detail {
    margin: 0 auto 0 28px;
}

.search-bar {
    width: 300px;
    height: 100px;
    overflow: hidden;
    display: block;
    padding-top: 20px;
    margin: 0 auto;
}
.search-container input {
    width: 80%;
    float: left;
    transition: none;
    }

.search-container button {
    float: none;
    display: block;
    width: 40px;
    padding: 6px 0;
    margin: 0;
    font-size: 1.2em;
    border-radius: 3px;
    transition: none;
  }

.search-container button:hover {
  background: #b7cabd;
}


input[type=text] {
    border: 1px solid #ccc;
  }


.letters {
    font-weight: lighter;
    font-size: 1.1em;
    float: left;
    list-style: none;
}

.letters a {
    display: block;
    padding: 8px 10px;
    margin: 10px 6px;
    background-color: #FFF;
    border-radius: 3px;
}

.active a {
    color: #FFF;
    background-color: #4E7A74;
    font-weight: bold;
}


.minerals__container_ext {
    min-height: 200px;
}

.info_results {
    background-color: #b7cabd;
}

.groups {
    display: block;
    position: sticky;
    float: left;
    top: 230px;
    left: 30px;
    width: 200px;
}

.group-list {
    list-style: none;
}