{% load static from staticfiles %}
{% load catalog_extras %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Martha's Minerals: A magnificant catalog of minerals</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog-style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body><section class="group-list"><ul>
    <li>Silicates</li>
    <li>Oxides</li>
    <li>Sulfides</li>
    <li>Carbonates</li>
    <li>Halides</li>
    <li>Sulfosalts</li>
    <li>Phosphates</li>
    <li>Borates</li>
    <li>Organic Minerals</li>
    <li>Arsenates</li>
    <li>Native Elements</li>
    <li>Other</li>
</ul>
</section>
{% block boundsClass %}{% endblock %}

<div class="grid-100">
    <a href="{% url 'catalog:list' %}">
        <svg class="logo" viewBox="0 0 127.6 84.8" preserveAspectRation="xMinYMin meet">
            <polygon points="42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 "/>
            <polygon class="logo--middle" points="52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 "/>
            <polygon
                    points="127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 "/>
        </svg>
        <h1 class="logo__name text-centered">Martha's Minerals</h1>
    </a>
    <p class="logo__text text-centered">So much more than rocks.</p>
    {#    {% block importLink %}{% endblock %}#}
</div>
{#{{ request.resolver_match }}#}
{% if request.resolver_match.route != 'import/' %}




    <section class="search-area {% if request.resolver_match.route == 'detail/<int:pk>/' %}search-detail{% endif %}">
        <ul>
            <li class="letters
                {% if request.resolver_match.kwargs.name_filter == 'a' or not request.resolver_match.kwargs and request.resolver_match.url_name != 'search' %}
                active{% endif %}"><a href="{% url 'catalog:filtered_list' name_filter='a' %}">A</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'b' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='b' %}">B</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'c' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='c' %}">C</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'd' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='d' %}">D</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'e' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='e' %}">E</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'f' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='f' %}">F</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'g' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='g' %}">G</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'h' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='h' %}">H</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'i' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='i' %}">I</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'j' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='j' %}">J</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'k' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='k' %}">K</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'l' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='l' %}">L</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'm' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='m' %}">M</a></li>
        </ul>
        <ul class="letter-filter">
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'n' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='n' %}">N</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'o' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='o' %}">O</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'p' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='p' %}">P</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'q' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='q' %}">Q</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'r' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='r' %}">R</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 's' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='s' %}">S</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 't' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='t' %}">T</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'u' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='u' %}">U</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'v' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='v' %}">V</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'w' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='w' %}">W</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'x' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='x' %}">X</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'y' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='y' %}">Y</a></li>
            <li class="letters {% if request.resolver_match.kwargs.name_filter == 'z' %}active{% endif %}">
                <a href="{% url 'catalog:filtered_list' name_filter='z' %}">Z</a></li>
        </ul>
    </section>

    <section class="search-bar">
        <div class="search-container {% if request.resolver_match.route == 'detail/<int:pk>/' %}search-detail{% endif %}">
        <form action="{% url 'catalog:search' %}" method="GET">
          <input type="text" placeholder="Search.." name="q">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </section>

{% endif %}
{% block content %}{% endblock %}
</div>

{% if mineral or minerals %}
    <div class="minerals__random">
        <a class="minerals__anchor" href="{% url 'catalog:detail' pk=x|random_mineral %}">Show random mineral</a>
    </div>
{% endif %}
</body>
</html>