{% extends 'layout.html' %}

{% load catalog_extras %}

{% load static from staticfiles %}



{% block boundsClass %}
    <div class="bounds bounds--small">{% endblock %}

{% block content %}
    <div class="grid-100 mineral__container">

        <div>
            {{ field_list }}
        </div>

        <h1 class="mineral__name">{{ mineral.name }}</h1>
        <div class="mineral__image-bg">
            <img class="mineral__image" src="{% static 'images/' %}{{ mineral.image_filename }}">
            <p class="mineral__caption">{{ mineral.image_caption }}</p>
        </div>

        <div class="mineral__table-container">
            <table class="mineral__table">
                {{ field_list }}
                {% for field in field_list %}
                        <tr>
                            <td class="mineral__category">{{ field }}</td>
                            <td>{{ field }}</td>
                        </tr>
                {% endfor %}
            </table>

            {#                <tr>#}
            {#                    <td class="mineral__category">Category</td>#}
            {#                    <td>{{ mineral.category }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Formula</td>#}
            {#                    <td>{{ mineral.formula }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">{{ mineral.strunz_classification. }}</td>#}
            {#                    <td>{{ mineral.strunz_classification }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Colour</td>#}
            {#                    <td>{{ mineral.color }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Crystal System</td>#}
            {#                    <td>{{ mineral.crystal_system }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Unit Cell</td>#}
            {#                    <td>{{ mineral.unit_cell }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Crystal Symmetry</td>#}
            {#                    <td>{{ mineral.crystal_symmetry }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Cleavage</td>#}
            {#                    <td>{{ mineral.cleavage }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Mohs Scale_Hardness</td>#}
            {#                    <td>{{ mineral.mohs_scale_hardness }}</td>#}
            {#                </tr>#}
            {##}
            {#                {% if mineral.luster %}#}
            {#                    <tr>#}
            {#                        <td class="mineral__category">Luster</td>#}
            {#                        <td>{{ mineral.luster }}</td>#}
            {#                    </tr>#}
            {#                {% endif %}#}
            {##}
            {#                <tr>#}
            {#                    <td class="mineral__category">Streak</td>#}
            {#                    <td>{{ mineral.streak }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Diaphaneity</td>#}
            {#                    <td>{{ mineral.diaphaneity }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Optical Properties</td>#}
            {#                    <td>{{ mineral.optical_properties }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Refractive Index</td>#}
            {#                    <td>{{ mineral.refractive_index }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Crystal Habit</td>#}
            {#                    <td>{{ mineral.crystal_habit }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Specific Gravity</td>#}
            {#                    <td>{{ mineral.specific_gravity }}</td>#}
            {#                </tr>#}
            {#                <tr>#}
            {#                    <td class="mineral__category">Group</td>#}
            {#                    <td>{{ mineral.group }}</td>#}
            {#                </tr>#}

        </div>
    </div>
{% endblock %}