{% extends 'layout.html' %}
{% load catalog_extras %}
{% load static from staticfiles %}

{% block boundsClass %}
    <div class="bounds bounds--small">{% endblock %}

{% block content %}
    <div class="grid-100 mineral__container">
        <h1 class="mineral__name">{{ mineral.name }}</h1>
        <div class="mineral__image-bg">
            <img class="mineral__image" src="{% static 'images/' %}{{ mineral.image_filename }}">
            <p class="mineral__caption">{{ mineral.image_caption|safe }}</p>
        </div>
        <div class="mineral__table-container">
            <table class="mineral__table">
                {% for field in field_list %}
                    {% for name, content in field.items %}
                        {%  if content %}
                        <tr>
                            <td class="mineral__category">{{ name|safe|underscore_to_space|title }}</td>
                            <td>{{ content|safe }}</td>
                        </tr>
                        {%  endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}