{% extends 'layout.html' %}
{% load catalog_extras %}

{% block boundsClass %}
    <div class="bounds bounds--small">
{% endblock %}

{% block content %}
    <div class="grid-100 mineral__container">
        <h1 class="mineral__name">Import result</h1>
        <p>{{ minerals_json_count }} records retrieved from 'minerals.json'.</p>
        <p>{{ minerals.count }} records added to Martha's Minerals database.<br>
            <span class="warning">{% subtraction minerals_json_count minerals.count %} duplicate records removed.</span>
        </p>
        <h3 class="mineral__name">Field popularity / occurrence count</h3>
        <div class="mineral__table-container">
            <table class="mineral__table">
                {% for field in ordered_fields %}
                            <tr>
                                <td class="mineral__category">{{ field.0|safe|underscore_to_space|title }}</td>
                                <td class="text-centered">{{ field.1 }}</td>
                            </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}