{% extends 'layout.html' %}

{% block boundsClass %}
    <div class="bounds">{% endblock %}
{% block importLink %}
    <div class="import">
        <a class="minerals__anchor import_button" href="{% url 'catalog:import' %}">Import data</a>
    </div>
{% endblock %}
{% block content %}
    <div class="grid-100">
        {% if minerals %}
            {%  if not mineral_filtered %}
                <div class="info__container">
                <h2>No minerals found</h2>
                    <p>Please choose another letter.</p>
            </div>
        {%  else %}
            <ul class="minerals__container">
                {% for mineral in mineral_filtered %}
                    <li class="minerals__item">
                        <a class="minerals__anchor"
                           href="{% url 'catalog:detail' pk=mineral.pk %}">{{ mineral|safe }}</a>
                    </li>
                {% endfor %}</ul>
                {% endif %}
        {% else %}
            <div class="info__container">
                <h2>Welcome</h2>
                <p>The database is empty. <a class="b-link" href="{% url 'catalog:import' %}">Import data</a> to
                    start.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}