{% extends 'layout.html' %}

{% block boundsClass %}
    <div class="bounds">{% endblock %}
{% block importLink %}
    <div class="import">
        <a class="minerals__anchor import_button" href="{% url 'catalog:import' %}">Import data</a>
    </div>
{% endblock %}
{% block content %}
    <div class="grid-100">
        {% if mineral %}
        <ul class="minerals__container">

                {% for mineral in minerals %}
                    <li class="minerals__item">
                        <a class="minerals__anchor"
                           href="{% url 'catalog:detail' pk=mineral.pk %}">{{ mineral|safe }}</a>
                    </li>
                {% endfor %}</ul>
            {% else %}
                <div class="info__container">
                <h2>Welcome</h2>
                <p>The database is empty, click <a class="b-link" href="{% url 'catalog:import' %}">import data</a> to start.</p>
            </div>
            {% endif %}

    </div>
{% endblock %}